<p style="color: green"><%= notice %></p>

<h1>Officers</h1>

<table class="table">
  <thead>
    <tr>
      <th>Member</th>
      <th>Position Title</th>
      <th>Picture</th>
      <th>Edit Officer</th>
    </tr>
  </thead>

  <tbody>
    <% @officers.each do |officer| %>
      <tr>
        <td><%= Member.where(id: officer.member_id).last.firstname + " " + Member.where(id: officer.member_id).last.lastname%></td>
        <td><%= officer.positionTitle%></td>
        <td><%= officer.picture%></td>
        <td><%= link_to "Show this officer", officer %></td>
      <tr>
    <% end %>
  </tbody>
</table>


<%= link_to "<button>New officer</button>".html_safe, new_officer_path %>
