<%= form_with(model: show_host) do |form| %>
  <% if show_host.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(show_host.errors.count, "error") %> prohibited this show_host from being saved:</h2>

      <ul>
        <% show_host.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :show_id, style: "display: block" %>
    <%= form.select :show_id, Show.order(:showname).map { |show| [show.showname, show.id] }, {:prompt => "Select"} , {class: 'form-select'} %>
  </div>

  <div>
    <%= form.label :member_id, style: "display: block" %>
    <%= form.select :member_id, Member.order(:netid).map { |member| [member.firstname + " " + member.lastname, member.id]}, {:prompt => "Select"} , {class: 'form-select'} %>
  </div>

  <br></br>
  <div>
    <%= form.submit class: "btn btn-primary"  %>
  </div>
<% end %>
