<p style="color: green"><%= notice %></p>
<h1>Show Hosts</h1>
<table class="table">
  <thead>
    <tr>
      <th>DJ</th>
      <th>Show</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @show_hosts.each do |show_host| %>
      <tr>
        <td><%= Member.where(id: show_host.member_id).last.firstname %></td>
        <td><%= Show.where(id: show_host.show_id).last.showname %></td>
        <td><%= link_to 'Show', show_host %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to "<button>New show host</button>".html_safe, new_show_host_path %>
