<div id="<%= dom_id dj %>">
  <p>
    <strong>Member:</strong>
    <%= dj.member_id %>
  </p>

  <p>
    <strong>Speciality:</strong>
    <%= dj.speciality %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= dj.picture %>
  </p>

  <p>
    <%= image_tag dj.picture rescue image_tag '/assets/no_image.png' %>
  </p>

</div>
