<%= form_with(model: dj) do |form| %>
  <% if dj.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(dj.errors.count, "error") %> prohibited this dj from being saved:</h2>

      <ul>
        <% dj.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :dj_id, style: "display: block" %>
    <%= form.number_field :dj_id %>
  </div>

  <div>
    <%= form.label :member_id, style: "display: block" %>
    <%= form.select :member_id, Member.order(:firstname).map {|member| [member.firstname, member.id]}, include_blank:true, id: "id_of_the_book_id_select_box"%>
  </div>

  <div>
    <%= form.label :speciality, style: "display: block" %>
    <%= form.text_field :speciality %>
  </div>

  <div>
    <%= form.label :picture, style: "display: block" %>
    <%= form.text_field :picture %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
