<p style="color: green"><%= notice %></p>

<h1>DJs</h1>

<table class="table">
  <thread>
    <tr>
      <th>Member</th>
      <th>Speciality</th>
      <th>Picture</th>
      <th>Edit DJ</th>
    </tr>
  </thread>


  <tbody>
    <% @djs.each do |dj| %>
      <tr>
        <td><%= Member.where(id: dj.member_id).last.firstname + " " + Member.where(id: dj.member_id).last.lastname %></td>
        <td><%= dj.speciality%></td>
        <td><%= dj.picture%></td>
        <td><%= link_to "Show this DJ", dj %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to "<button>New DJ</button>".html_safe, new_dj_path %>
