<%= form_with(model: calendar) do |form| %>
  <% if calendar.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
        <% calendar.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :show_id, style: "display: block" %>
    <%= form.select :show_id, Show.order(:showname).map { |show| [show.showname, show.id] }, include_blank: true, id: "id_of_the_show_id_select_box" %>
  </div>

  <div>
    <%= form.label :timeslot, style: "display: block" %>
    <%= form.text_field :timeslot %>
  </div>

  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.number_field :active %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
