<%= form_with(model: show) do |form| %>
  <% if show.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(show.errors.count, "error") %> prohibited this show from being saved:</h2>

      <ul>
        <% show.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :showname, 'Show name', style: "display: block" %>
    <%= form.text_field :showname, class: 'form-control' %>
  </div>
  
  <div>
    <%= form.label :timeslot, 'Timeslot (DSSEE Format. EX. 01417 = Sunday, 2PM-5PM)',style: "display: block" %>
    <%= form.text_field :timeslot, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :showdescription, 'Show description',style: "display: block" %>
    <%= form.text_field :showdescription, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :active, style: "display: block" %>
    <%= form.number_field :active, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :specialty, style: "display: block" %>
    <%= form.select(:specialty, [['True', true], ['False', false]], {:prompt => "Select"}, {class: 'form-select'}) %>
  </div>

  <br></br>
  <div>
    <%= form.submit class: "btn btn-primary"  %>
  </div>
<% end %>
