<div id="<%= dom_id show %>">
  <p>
    <strong>Show name:</strong>
    <%= show.showname %>
  </p>
  
  <p>
    <strong>Timeslot:</strong>
    <%= show.timeslot %>
  </p>

  <p>
    <strong>Show description:</strong>
    <%= show.showdescription %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= show.active %>
  </p>

</div>
