<p style="color: green"><%= notice %></p>


<table class="table">
  <thead>
    <tr>
      <th>Show name</th>
      <th>Timeslot</th>
      <th>Show description</th>
      <th>Active</th>
      <th>Edit this show</th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.showname %></td>
        <td><%= show.timeslot %></td>
        <td><%= show.showdescription %></td>
        <td><%= show.active %></td>
        <td><%= link_to "Show this show", show %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to "<button>New show</button>".html_safe, new_show_path %>
