<p style="color: green"><%= notice %></p>

<h1>Shows</h1>

<table>
  <thead>
    <tr>
      <th>Show name</th>
      <th>Show description</th>
      <th>Edit this show</th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.showname %></td>
        <td><%= show.showdescription %></td>
        <td><%= link_to "Show this show", show %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<%= link_to "New show", new_show_path %>
<br>
<%= link_to "Member index", members_path %>
<br>
<%= link_to "Show host index", show_hosts_path %>
<br>
<%= link_to "Calendar index", calendars_path %>