<p style="color: green"><%= notice %></p>

<%= render @show %>

<div>
  <%= link_to "Edit this show", edit_show_path(@show) %> |
  <%= link_to "Back to shows", shows_path %>

  <%= button_to "Delete this show", @show, :method => :delete, form: { data: { turbo_confirm: "Are you sure you want to delete?" } } %>
</div>
