<%= form_with(model: member) do |form| %>
  <% if member.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
        <% member.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :netid, style: "display: block"%>
    <%= form.text_field :netid, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :firstname, style: "display: block" %>
    <%= form.text_field :firstname, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :lastname, style: "display: block" %>
    <%= form.text_field :lastname, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :uin, style: "display: block" %>
    <%= form.text_field :uin, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :shirt, "Shirt", style: "display: block" %>
    <%= form.select(:shirt, [["XS", 'XS'], ["S", 'S'], ["M", 'M'], ["L", 'L'], ["XL", 'XL'], ["XXL", 'XXL']], {:prompt => "Select"}, {class: 'form-select'}) %>
  </div>

  <div>
    <%= form.label :strikes, style: "display: block" %>
    <%= form.number_field :strikes, class: 'form-control' %>
  </div>

  <div>
    <%= form.label :points, style: "display: block" %>
    <%= form.number_field :points, class: 'form-control' %>
  </div>

  <br></br>
  <div>
    <%= form.submit class: "btn btn-primary"  %>
  </div>
<% end %>
