<p style="color: green"><%= notice %></p>
<h1>Members</h1>
<table class="table">
  <thead>
    <tr>
      <th>NetID</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>UIN</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Shirt</th>
      <th>Strikes</th>
      <th>Points</th>
      <th>Edit this member</th>
    </tr>
  </thead>
  
  <tbody>
      <% @members.each do |member| %>
        <tr <% if member.strikes == 3 %>class="red-row"<% end %>>
          <td><%= member.netid %></td>
          <td><%= member.firstname %></td>
          <td><%= member.lastname %></td>
          <td><%= member.uin %></td>
          <td><%= member.email %></td>
          <td><%= member.phone %></td>
          <td><%= member.shirt %></td>
          <td><%= member.strikes %></td>
          <td><%= member.points %></td>
          <td><%= link_to "Show this member", member %></td>
        </tr>
      <% end %>
  </tbody>
</table>

<%= link_to "<button>New member</button>".html_safe, new_member_path %>

<style>
      .red-row {
        color: red;
      }
</style>
