<p style="color: green"><%= notice %></p>

<nav class="navbar navbar-dark bg-dark
">
  <a class="navbar-brand" href="#">
    <img src="https://kanm.tamu.edu/_assets/img/logo/trans_med.png" width="50" height="50" class="d-inline-block align-top" alt="">
    Members
  </a>
</nav>

<div id="members">
  <% @members.each do |member| %>
    <%= render member %>
    <p>
      <%= link_to "Show this member", member %>
    </p>
  <% end %>
</div>

<%= link_to "New member", new_member_path %>
<br>
<%= link_to "Show index", shows_path %>
<br>
<%= link_to "Show host index", show_hosts_path %>
